.header{
  position: sticky;
  top: 0;
  background-color: var(--white);
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 106px;
}

.header__icon--img{
    background: url(https://assets.bitso.com/static/media/logo_dark.93562fe3.svg) left center no-repeat;
    display: block;
    height: 33px;
    width: 103px; 
}

.header__menu{
    display: flex;
    orientation: column;
}

.header__menu--seccion{
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;
}

.header__menu--seccion span{
    padding: 0 5px;
}

.header__menu--seccion a{
    text-decoration: none;
    color: var(--dark);
    font-size: 14px;
}
  

.header_menu--btn{
    background-color: var(--primary);
    border-color: var(--success);
    color: rgb(255, 255, 255);
    padding: 0px 20px;
    white-space: nowrap;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    min-width: 155px;
    box-shadow: none;
}